[submodule "assets/opstools/AppBuilder/classes/core"]
	path = assets/opstools/AppBuilder/classes/core
	url = https://github.com/appdevdesigns/appbuilder_class_core.git
[submodule "api/classes/core"]
	path = api/classes/core
	url = https://github.com/appdevdesigns/appbuilder_class_core.git
