.ab-generated-page {
	overflow-y: auto;
}
.ab-main-container {
	position: relative;
	display: block;
	width: 100%;
}
.ab-main-container .pointer {
	cursor: pointer;
}
.ab-main-container .left {
	text-align: left;
}
.ab-main-container .center {
	text-align: center;
}
.ab-main-container .right {
	text-align: right;
}
.ab-main-container .bold {
	font-weight: bold !important;
}
.ab-scroll-y {
	overflow-y: auto !important;
}
.ab-ellipses-text, .ab-ellipses-text > div {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* Webix icon */
.ab-main-container .webix_icon {
	line-height: inherit;
}

/* Fix overflow-x */
.ab-generated-page .webix_scroll_cont {
	overflow: auto !important;
}

/* Webix datatable */
/* Last column */
.ab-main-container .webix_column.webix_last > div,
.ab-main-container .webix_hs_center td.webix_last,
.ab-main-container .ab-app-list-descriptionwebix_hs_right td.webix_last {
	border-right-width: 1px !important;
}

/* Webix selected item */
.webix_list_item.webix_selected,
.webix_column>div.webix_cell_select,
.webix_column>div.webix_column_select,
.webix_column>div.webix_row_select {
	background-color: #3498db !important;
}

/* Webix message */
.webix_success {
  background-color: #BFF2BF;	
}
.webix_success div {
  background-color: #BFF2BF;
  border: 1px solid #007A00;
  color: #000;
}

/* Webix list */
.ab-main-container .webix_list_item .webix_selected,
.ab-main-container .webix_tree_item.webix_selected {
	color: #fff !important;
	background-color: #3498db !important;
}
.ab-app-form-permission .webix_selected {
	color: #fff !important;
	background-color: #3AB9CE !important;
}

/* Webix segmented */
.ab-form-component-item .webix_segment_0.webix_selected,
.ab-form-component-item .webix_segment_1.webix_selected,
.ab-form-component-item .webix_segment_N.webix_selected,
.ab-component-view-edit-field .webix_segment_0.webix_selected,
.ab-component-view-edit-field .webix_segment_1.webix_selected,
.ab-component-view-edit-field .webix_segment_N.webix_selected {
	color: #fff !important;
	background-color: #3498db !important;
}

.ab-form-component-item .webix_segment_0,
.ab-form-component-item .webix_segment_1,
.ab-form-component-item .webix_segment_N,
.ab-component-view-edit-field .webix_segment_0,
.ab-component-view-edit-field .webix_segment_1,
.ab-component-view-edit-field .webix_segment_N {
	color: #3498db;
	background: #fff;
}

/* Application list */
.ab-app-list {
	min-height: 300px;
	padding: 40px 100px;
}
.ab-app-select-list .webix_selected {
	color: #000 !important;
	background-color: transparent !important;
}
.ab-app-list-item {
	position: relative;
	height: 100%;
}
div[view_id='ab-app-list'] div.webix_list_item:hover, 
div[view_id='ab-object-list'] div.webix_list_item:hover,
div[view_id='ab-object-list-menu'] div.webix_list_item:hover,
div[view_id='ab-new-connectObject-list-item'] div.webix_list_item:hover,
div[view_id='ab-edit-header-items'] div.webix_list_item:hover,
div[view_id='ab-frozen-field-list'] div.webix_list_item:hover {
	background-color: #eee;	
}
.ab-app-list-name {
	font-weight: bold;
	font-size: large;
}
.ab-app-list-description {
	color: darkgrey;
	font-size: small;
}
.ab-app-list-info {
	width: 95%;
	display: inline-block;
}
.ab-app-list-edit {
	position: absolute;
	top: 10px;
	right: 10px;
}

/* Application workspace */
.ab-app-workspace {
	min-height: 100px;
}
.ab-unsync-data-warning {
	cursor: pointer;
    color: #fff;
    background-color: #F5962F;
    border: #fff dotted 1px !important;
    padding-left: 2px;	
}
.ab-unsync-data-popup .webix_win_head {
	background-color: #F5962F;
}
.ab-unsync-data-popup .webix_win_head .header {
	padding-left: 5px;
	font-weight: bold;
    color: #fff;
}
.ab-unsync-data-status {
	padding: 3px;
}
.ab-unsync-data-in-progress {
	background-color: #F5AE0F;
}
.ab-unsync-data-done {
	background-color: #3AB349;
}
.ab-unsync-data-error {
	background-color: #EC2F2F;
}

/* Object list */
.ab-object-list-item {
	position: relative;
	height: 100%;
}
.ab-object-list-edit {
	position: absolute;
	top: 0px;
	right: 5px;
	display: none;
}
.ab-object-unsync {
	background-color: #d2e3ef;
	color: #4a4a4a;
	position: absolute;
	top: 4px;
	right: 30px;
	font-size: 12px;
	border-radius: 6px;
	padding: 0px 4px;
	height: 20px;
	line-height: 20px;
	display: none;
}

/* Interface list */
.ab-page-list-item {
	position: relative;
	height: 100%;
}
.ab-page-list-edit {
	position: absolute;
	top: 0px;
	right: 5px;
	display: none;
	cursor: pointer;
}

/* Object datatable */
.ab-object-data-header {
	position: relative;
}
.ab-object-data-new-header {
	background-color: #cfd9e0;
}

.ab-object-data-header-edit {
	display: none;
	position: absolute;
	top: 15px;
	right: 10px;
}
.ab-object-data-header:hover .ab-object-data-header-edit {
	display: block;
}
.ab-object-unsync-data {
	background-color: #EBFBDA;
}
.ab-object-view-column {
	color: #3498db;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}

/* Connect object data */
.ab-connect-data-info {
	display: inline-block;
	width: 90px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ab-connect-data-disable {
	background-color: #aaa;
}

/* Custom selectivity */
.ab-main-container .selectivity-multiple-input-container {
	background: none !important;  
	padding: 0px !important;
	overflow: hidden !important;
	max-height: 100% !important;
}
.ab-main-container .selectivity-multiple-selected-item {
	background: #3498db !important;
	padding-right: 5px;
	/*max-width: 100px !important;*/
}

/* Interface tree view */
.ab-main-container .webix_tree_item.webix_selected span {
	padding: 0px; 
	background: #3498db !important;
}

/* Interface new page popup */
.ab-interface-new-quick-page label {
	font-weight: normal; /* Override bootstrap*/
}

/* Interface page layout */
.ab-component-drop-area {
	margin-right: 2px;
	border: 1px dashed #000 !important;
	background-color: #D3E9EF;
	background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='30px' width='90px'><text x='20' y='20' fill='#95CBEF' font-size='15'>Drop Here</text></svg>");
}

div[view_id='ab-interface-layout-page'] .webix_list_item,
.ab-component-in-page {
	width: 100%;
	position: relative;
	background-color: #fff;
	clear: both;
}

.ab-component-item-name {
	float: left;
	font-size: 18px;
	border-right: 1px solid #ebebeb;
	vertical-align: top;
	padding-top: 10px;
	width: 90px;
	margin-bottom: -500em; /* CSS hack: equal height of right float */
	padding-bottom: 500em;
}

.ab-component-item-display {
	float: right;
	vertical-align: top;
	padding: 10px;
	width: 87%;
	line-height: 100%;
	overflow-x: auto;
}

.ab-component-remove {
	position: absolute;
	top: 5px;
	right: 1px;
}

.ab-component-link {
	color: #003B7E;
	text-decoration: underline;
	cursor: pointer;
}

/* Interface component list */
.ab-component-item-drag {
	border: 1px dotted #000 !important;
	font-size: 35px;
	background-color: #fff;	
}

/* Header component */
.ab-component-header {
	font-size: 25px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}
.ab-component-description {
	font-size: 14px;
	padding: 0px;
}

/* Menu component */
.ab-page-list-item .webix_tree_checkbox {
	margin: 0px !important;
}

/* Grid component */
.ab-page-grid-column-item .column-checkbox {
	display: inline-block;
	position: relative;
	top: -5px;
	width: 30px;
}

.ab-page-grid-column-item .column-empty-checkbox {
	position: relative;
	width: 50px;
	height: 38px;
}

.ab-page-grid-column-item .column-name {
	display: inline-block;
	position: relative;
	top: -18px;
}

/* Form component */
.ab-form-connect-data {
	float: left;
	border: #CCC solid 1px;
	padding: 0px 5px;
	min-width: 70%;
	border-radius: 6px;
}

.ab-main-container .webix_layout_form {
	background-color: #fff;
}

/* Loading Screen */
.ab-loading-screen {
	background: #000;
	opacity: 0.7;
	position: absolute !important;
}
.ab-loading-body {
	background: #000;
	border-width: 0px !important;
}
.ab-loading-message {
	color: #fff !important;
	background: #000 !important;
	font-size: 30px !important;
	text-align: center;
	vertical-align: middle;
	border-width: 0px !important;
	padding-top: 20% !important;
	height: 100px !important;
}
.ab-loading-button {
	text-align: center;
}
.ab-loading-button button {
	background-color: #003B7E;
	width: 200px;
}
.ab-loading-screen .webix_progress_bottom {
	height: 40px !important;
	opacity: 1;
}
.ab-loading-screen .webix_progress_bottom .webix_progress_state {
	height: 40px !important;
}

/* Dynamic DataTable */
.dynamic-datatable-view .webix_badge {
	margin: 0 !important;
}

/* Number data field */
.ab-number-format-show {
	white-space: nowrap;
}