.op-stage {
     overflow-y: hidden !important; 
}

.ab-main-container {
	position: relative;
	display: block;
	width: 100%;
}
.ab-main-container .pointer {
	cursor: pointer;
}
.ab-main-container .left {
	text-align: left;
}
.ab-main-container .center {
	text-align: center;
}
.ab-main-container .right {
	text-align: right;
}
.ab-main-container .bold {
	font-weight: bold;
}

/* Webix selected item */
.ab-main-container .webix_list_item.webix_selected,
.ab-main-container .webix_column>div.webix_cell_select,
.ab-main-container .webix_column>div.webix_column_select,
.ab-main-container .webix_column>div.webix_row_select {
	background-color: #3498db !important;
}

/* Webix message */
.webix_success {
  background-color: #BFF2BF;	
}
.webix_success div {
  background-color: #BFF2BF;
  border: 1px solid #007A00;
  color: #000;
}

/* Webbix list */
.ab-main-container .webix_selected {
	background-color: #3498db !important;
}

/* Application list */
.ab-app-list {
	min-height: 300px;
	padding: 40px 100px;
}
.ab-app-list .webix_selected {
	color: #000;
	background-color: transparent !important;
}
.ab-app-list-item {
	position: relative;
	height: 100%;
}
div[view_id='ab-app-list'] div.webix_list_item:hover, 
div[view_id='ab-object-list'] div.webix_list_item:hover,
div[view_id='ab-object-list-menu'] div.webix_list_item:hover,
div[view_id='ab-new-connectObject-list-item'] div.webix_list_item:hover,
div[view_id='ab-edit-header-items'] div.webix_list_item:hover,
div[view_id='ab-frozen-field-list'] div.webix_list_item:hover {
	background-color: #eee;	
}
.ab-app-list-name {
	font-weight: bold;
	font-size: large;
}
.ab-app-list-description {
	color: darkgrey;
	font-size: small;
}
.ab-app-list-info {
	width: 95%;
	display: inline-block;
}
.ab-app-list-edit {
	position: absolute;
	top: 10px;
	right: 10px;
}

/* Application workspace */
.ab-app-workspace {
	min-height: 100px;
}

/* Object list */
.ab-object-list-item {
	position: relative;
	height: 100%;
}
.ab-object-list-edit {
	position: absolute;
	top: 0px;
	right: 5px;
	display: none;
}


/* Interface list */
.ab-page-list-item {
	position: relative;
	height: 100%;
}
.ab-page-list-edit {
	position: absolute;
	top: 0px;
	right: 5px;
	display: none;
}

/* Object datatable */
.ab-object-data-header {
	position: relative;
}
.ab-object-data-header-edit {
	display: none;
	position: absolute;
	top: 15px;
	right: 10px;
}
.ab-object-data-header:hover .ab-object-data-header-edit {
	display: block;
}

/* Connect object data */
.ab-connect-data-info {
	display: inline-block;
	width: 90px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Custom selectivity */
.ab-main-container .selectivity-multiple-input-container {
	background: none !important;  
	padding: 0px !important;
	overflow: hidden !important;
}
.ab-main-container .selectivity-multiple-selected-item {
	background: #3498db !important;
	/*max-width: 100px !important;*/
}

/* Interface tree view */
.ab-main-container .webix_tree_item.webix_selected span {
	background: #3498db !important;
}