<!DOCTYPE html>
<html>

<head>
    <title>Registration Needs Adjustments</title>
    <meta charset="UTF-8">
    <style>
        body {
            margin: 0;
            font-family: Helvetica, sans-serif;
        }

        .wrapper {
            background: url(images/background.jpg) repeat-Y;
            background-size: cover;
        }

        .inner {
            background: white;
            padding: 2.5% 5%;
        }

        table {
            width: 100%;
            margin-bottom: 50px;
            background: white;
        }

        table,
        th,
        td {
            border-bottom: 1px solid #DDD;
            border-collapse: collapse;
            padding: 10px;
        }

        table th {
            text-align: left;
            background: #EEE;
        }

        table h3 {
            margin: 0;
            /* padding: 5px; */
        }

        td {
            width: 50%;
        }

        ol {
            margin: 0;
        }

        small {
            font-weight: normal;
            color: #666;
            float: right;
        }

        button {
            width: 100%;
            padding: 20px;
            background: gray;
            border: 0;
            border-radius: 5px;
            color: white;
            /* font-size: 20px; */
        }

        button:hover {
            cursor: pointer;
            background: darkgray;
        }

        @media only screen and (max-width: 992px) {
            .wrapper {
                padding: 100px 5%;
            }
        }

        @media only screen and (min-width: 992px) {
            .wrapper {
                padding: 100px 20%;
            }
        }
    </style>
</head>

<body style="margin: 0;font-family: Helvetica, sans-serif;">

    <center>

        <img width="50%" src="images/asc.png">

        <p>
            Chiang Mai, Thailand
        </p>
    </center>

    <div class="wrapper">

        <div class="inner">

            <h2>Thank you,</h2>

            <p>
                <em style="color: red">Please forward your summary email to your registration coordinator</em> and they will contact you to help you adjust your conference registration.
            </p>

            <table>
                <tr>
                    <th>
                        Region
                    </th>
                    <th>
                        Registration Coordinator
                    </th>
                    <th>
                        Email Address
                    </th>
                </tr>
                <tr>
                    <td><b>KFC</b></td>
                    <td>Lina</td>
                    <td>lina.jiang@zteam.biz</td>
                </tr>
                <tr>
                    <td><b>北京 BJ</b></td>
                    <td>Henry Liu</td>
                    <td>henry.liu@dodomail.net</td>
                </tr>
                <tr>
                    <td><b>ROL</b></td>
                    <td>Cheryl</td>
                    <td>cyan@dodomail.net</td>
                </tr>
                <tr>
                    <td rowspan="2" valign="top"><b>东南 SE</b></td>
                    <td>陈宏 Chen Hong</td>
                    <td>sam.h.chen@dodomail.net</td>
                </tr>
                <tr>
                    <td>Wendy</td>
                    <td>wendy.li@dodomail.net</td>
                </tr>
                <tr>
                    <td><b>西南 SW</b></td>
                    <td>艳梅 Yen Mei</td>
                    <td>yenmei.mun@dodomail.net</td>
                </tr>
                <tr>
                    <td><b>东北 NE</b></td>
                    <td>小七 Xiao Qi</td>
                    <td>july.qy.wang@dodomail.net</td>
                </tr>
                <tr>
                    <td rowspan="2" valign="top"><b>西北 NW</b></td>
                    <td>宋军 David</td>
                    <td>smart@dodomail.net</td>
                </tr>
                <tr>
                    <td>Maggie</td>
                    <td>meggie.wang@dodomail.net</td>
                </tr>
                <tr>
                    <td rowspan="2" valign="top"><b>华中 MCR</b></td>
                    <td>Laurel</td>
                    <td>ldewalt@dodomail.net</td>
                </tr>
                <tr>
                    <td>Jenna (DW)</td>
                    <td>jenna.j.h@dodomail.net</td>
                </tr>
                <tr>
                    <td rowspan="2" valign="top"><b>上海 Zone</b></td>
                    <td>Gaylon Shinault</td>
                    <td>gshinault@zonemail.net</td>
                </tr>
                <tr>
                    <td>Mary Shinault</td>
                    <td>mashinault@zonemail.net</td>
                </tr>
                <tr>
                    <td><b>香港 HK</b></td>
                    <td>Panda Chan</td>
                    <td>panda.chan@zteam.biz</td>
                </tr>

            </table>

        </div>

    </div>


</body>

</html>
