<!DOCTYPE html>
<html>

<head>
    <title>Confirmation Email</title>
    <meta charset="UTF-8">
    <style>
        body {
            margin: 0;
            font-family: Helvetica, sans-serif;
        }

        .wrapper {
            background: url(../../../../images/app_builder/background.jpg) repeat-Y;
            background-size: cover;
        }

        .inner {
            background: white;
            padding: 2.5% 5%;
        }

        table {
            width: 100%;
            margin-bottom: 50px;
            background: white;
        }

        table,
        th,
        td {
            border-bottom: 1px solid #DDD;
            border-collapse: collapse;
            padding: 10px;
        }

        table th {
            text-align: left;
            background: #EEE;
        }

        table h3 {
            margin: 0;
            /* padding: 5px; */
        }

        td {
            width: 50%;
        }

        ol {
            margin: 0;
        }

        small {
            font-weight: normal;
            color: #666;
            float: right;
        }

        button {
            width: 100%;
            padding: 20px;
            background: gray;
            border: 0;
            border-radius: 5px;
            color: white;
            /* font-size: 20px; */
        }

        button:hover {
            cursor: pointer;
            background: darkgray;
        }

        @media only screen and (max-width: 992px) {
            .wrapper {
                padding: 100px 5%;
            }
        }

        @media only screen and (min-width: 992px) {
            .wrapper {
                padding: 100px 20%;
            }
        }
    </style>
</head>

<body style="margin: 0;font-family: Helvetica, sans-serif;">

    <center>

        <img width="50%" src="../../../../images/app_builder/asc.png">

        <p>
            Chiang Mai, Thailand
        </p>
    </center>

    <div class="wrapper">

        <div class="inner">

            <h2>Thank you,</h2>

            <p>
                Please forward your summary email to <b>james.wen@zteam.biz</b> and James will work with you to fix any issues.
            </p>

        </div>

    </div>


</body>

</html>
