label {
	font-weight: 500;
}
/* Custom selectivity */
.selectivity-placeholder {
	text-indent: 10px;
	color: #666;
}
.selectivity-multiple-input-container {
	background: transparent !important;
	padding: 0px !important;
	overflow: hidden !important;
	max-height: unset;
	/* border-radius: 6px; */
}
.selectivity-single-result-container {
	left: 2px;
}
.selectivity-multiple-selected-item, .selectivity-single-selected-item {
	background: #3498db !important;
	padding: 0 10px;
	border-radius: 15px !important;
	color: #FFF !important;
	line-height: 29px;
	display: inline-block;
	height: unset !important;
	margin: 2px;
	/*max-width: 100px !important;*/
}
.selectivity-multiple-input, input[type=text].selectivity-multiple-input {
	height: 33px;
	text-indent: 10px;
}
.selectivity-single-selected-item-remove {
	color: #FFF;
	float: none;
	padding: 7px 5px 7px 0px;
}
.selectivity-multiple-selected-item-remove {
	padding: 5px 0 5px 5px;
}
.customField {
	line-height: 33px;
}
.customField .selectivity-multiple-input-container {
	border: 1px solid #ccd7e6;
	/* border-radius: 6px; */
	margin-right: 4px;
}
.readonlyField {
	background-color: #fff;
}
.selectivity-single-select {
	background: transparent !important;
}
.webix_cell .form-entry {
	border: 0;
}
.form-entry {
	border-radius: 6px;
	height: 100%;
    border: 1px solid #ddd;
    color: #666;
    background: #fff;
    border-color: #ccc;
	margin-right: 2px;
}
.form-entry .selectivity-multiple-selected-item {
	float: none;
}
.webix_template .selectivity-single-select {
	padding: 0;
	border: 1px solid #ccd7e6;
	/* border-radius: 6px; */
	margin-right: 4px;
}
.selectivity-single-select input {
	padding: 0;
	border: 0;
}
.selectivity-single-selected-item {
	color: #666;
}
.selectivity-single-result-container {
	top: .0em !important;
}
.selectivity-caret {
	top: .4em !important;
}
.selectivityBadge {
	top: 6px;
	right: -5px;
	background: #AAA;
}
.list-data-values, .connect-data-values {
	position: relative;
}


.ab-app-list-info {
	float: left;
	height: 100%;
}
.ab-app-list-edit, .ab-object-list-edit {
	float:right;
	height: 100%;
}
.ab-app-list-edit .webix_list_item {
	line-height: 50px;
}
.ab-app-list-edit .webix_icon {
	line-height: 59px;
}
.ab-app-list-item {
	height: 100%;
	clear: both;
}
.ab-app-list-edit .webix_list_item {
	padding: 10px;
}
.ab-app-list-name {
	font-size: 20px;
	line-height: 20px;
	margin-top: 10px;
}
.ab-app-list-description {
	opacity: 0.6;
}

.webix_list_item .webix_icon {
	font-size: inherit;
}
.emptypane {
	line-height: auto;
}
.opsportal-area-site-default-appbuilder a, .webix_view a {
	opacity: 1;
}
.webix_list_item.menu.selected {
	background: #657584;
}
.webix_icon_btn {
	font-size: 16px;
}
.appTitle .webix_el_box {
	font-size: 20px !important;
}
.webix_dark .webix_icon_btn {
	opacity: 0.4;
}
.webix_el_button button {
	font-size: 14px;
}
.webix_menu-x .webix_list_item {
	line-height: 31px;
}
.bg-white {
	background: white;
}
.ab-component-tools {
	float: right;
	margin: -2px 20px 0 0;
}
.ab-component-remove, .ab-component-edit {
	width: 33px;
	height: 33px;
	display: inline-block;
	margin-right: 1px;
	font-size: 18px;
	text-align: center;
	line-height: 33px;
	background: #4caf50;
	color: white;
	top: -2px;
	position: relative;
	overflow: hidden;
	float: right;
}
.ab-component-remove:hover, .ab-component-edit:hover {
	cursor: pointer;
}
.ab-component-remove {
	background: #ff3b30;
}
.panel_icon {
	font-size: 16px;
    width: 22px;
    height: 24px;
    line-height: 24px;
}
.webix_view .webix_fieldset {
	overflow: visible;
	padding-top: 20px;
}
.webix_view legend {
	position: relative;
	top: -8px;
	margin: 0;
}
.ab-widget-header {
	background: #EEE;
}
.ab-component-header .webix_el_box {
	font-size: 24px;
}
.ab-component-description .webix_el_box {
	color: #666;
}
.bg_gray {
	background-color: #ebedf0;
}
.webix_dark .webix_sidebar {
	background-color: transparent;
}
.webix_dark .webix_view {
	background-color: transparent;
	color: white;
}
.webix_dark .webix_list-x .webix_list_item {
	border-right: 0;
}
.ab-text .ab-detail-component-holder {
	line-height: 32px;
}
.webix_tree_checkbox {
	margin: 0 5px 0 0;
	height: 20px;
	width: 20px;
}
.ab-menu-left .webix_scroll_cont {
	text-align: left;
}
.ab-menu-right .webix_scroll_cont {
	text-align: right;
}
.ab-menu-center .webix_scroll_cont {
	text-align: center;
}
.ab-menu-link.webix_menu-x .webix_list_item {
	background: transparent;
	color: #3498db;
	font-weight: bold;
	padding: 0;
	margin-right: 15px;
}
.ab-menu-link.webix_menu-x .webix_list_item:hover {
	text-decoration: underline;
}
.ab-custom-field .webix_template {
	padding: 0;
}